.header {
    max-width: 100%;
    background-color: gray;
    padding: 15px;
    display: flex;
    

    .link {
        text-decoration: none;
        color: white;
        margin-right: 15px;
    }
}